@charset "utf-8";
@import url("layout.css");
@import url("main.css");
@import url("fanzone.css");
@import url("game.css");

/* WebFont */
@font-face {
  font-family: "nanum";
  font-style: normal;
  src: url("../common/font/NanumGothic.eot");
  src: local(※), url('../font/NanumGothic.woff') format('woff');
}
@font-face {
  font-family: "nanumbd";
  font-style: normal;
  src: url("../common/font/NanumGothicBold.eot");
  src: local(※), url('../font/NanumGothicBold.woff') format('woff');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
input,select,textarea,button{vertical-align:middle;font-size:100%;}

/* html5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0;}
html{height:100%;}
body{position:relative;height:100%;background:#fff;*word-break:break-all;-ms-word-break:break-all;-webkit-text-size-adjust:none;}
input[type='text'], input[type='password'], input[type='submit'], input[type='search']{
  -webkit-appearance:none;border-radius:0;
}
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file']{
  -webkit-appearance:button;border-radius:0;
}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none;}
button{-webkit-appearance:none;border:0;}

input[type='text'],input[type='password']{width:100%;height:25px;padding:2px;border:1px solid #e0e0e0;box-sizing:border-box;}

.select{position:relative;height:30px;padding:0 5px 0 10px;display:block;border:1px solid #e1e1e1;background:#fff;box-sizing:border-box;}
.select select{width:100%;height:28px;border:0;background:#ebebeb;-webkit-appearance:none;background:url("../../images/icon/ico_select.png") no-repeat right center;background-size:10px;}
textarea{width:100%;border:0;}

body,input,select,textarea,button{font-family:"nanum",NanumGothic,"굴림",Gulim,"돋움","dotum",Helvetica,AppleGothic,Sans-serif;color:#464646;font-size:14px;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption{width:1px;height:0px;visibility:hidden;}
img,fieldset{border:none;border-spacing:0;}
dl,ul,ol,li{list-style:none}
a{color:#464646;text-decoration:none;}
a:hover,a:active,a:visited{text-decoration:none;}
strong{font-weight:normal;}
label{cursor:pointer;}
em,i,address{font-style:normal;}
table{width:100%;}

/* width */
.w46{width:46px;}
.w56{width:56px;}
.w70{width:70px;}
.w75{width:75px;}
.w92{width:92px;}
.w160{width:160px;}
.w300{width:300px;}

/* margin */
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

/* oneClass */
.epll{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.ovh{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.tal{text-align:left;}
.tar{text-align:right;}
.tac{text-align:center;}
.bold{font-family:"nanumbd";''}
.textOut{position:absolute;left:-99990em;top:-99990em;z-index:-1;}